{% extends 'base.html.twig' %}

{% block title %}New Hideaway{% endblock %}

{% block body %}
    <h1>Create new Hideaway</h1>

    {{ include('hideaway/_form.html.twig') }}

    <a href="{{ path('hideaway_index') }}">back to list</a>
{% endblock %}
