{% extends 'base.html.twig' %}

{% block title %}New Contacts{% endblock %}

{% block body %}
    <h1>Create new Contacts</h1>

    {{ include('contacts/_form.html.twig') }}

    <a href="{{ path('contacts_index') }}">back to list</a>
{% endblock %}
